@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadProRegular.woff2") format("woff2"),
    url("../fonts/MyriadProRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadProBold.woff2") format("woff2"),
    url("../fonts/MyriadProBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/* ==== base ==== */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "MyriadPro";
  font-weight: 400;
  font-size: 13px;
  background-color: var(--main-color);
}

.container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
  z-index: 30;
}
.container-fluid {
  max-width: 1020px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ==== variables ==== */

:root {
  --main-color: #292931;
  --accent-color: #4d55e5;
  --text-color: #dadada;
  --margin30: 30px;
}

/* ==== header ==== */

.header {
  border-bottom: 1px solid #000;
  margin-bottom: 38px;
}

.logo {
  margin-right: 15px;
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 22px;
}
.header__search {
  font-family: "MyriadPro";
  font-weight: 400;
  font-size: 13px;
  color: var(--text-color);
  background-color: #1e1e23;
  border: none;
  padding: 11px 20px;
  border-radius: 20px;
  min-width: 212px;
  margin-right: auto;
}
.header__search::placeholder {
  font-family: "MyriadPro";
  font-weight: 400;
  font-size: 13px;
  color: var(--text-color);
}
.menu {
  margin-left: 10px;
}
.menu-burger {
  display: none;
  position: relative;
  background-color: transparent;
  width: 36px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}
.menu-burger span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: #fff;
}
.menu-burger span + span {
  margin-top: 5px;
}
.menu__list-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 92px;
  z-index: 1;
  background-color: var(--main-color);

}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list-item + .menu__list-item {
  margin-left: 17px;
}
.menu__list-link {
  color: #b2b2b2;
}
.menu__list-link:hover,
.menu__list-link--active {
  color: #fff;
}
.wallet-wrapper {
  position: relative;
}
.wallet {
  text-align: center;
  padding: 9px 20px;
  min-width: 130px;
  color: #fff;
  background-color: #1e1e23;
  border-radius: 20px;
  margin-left: 34px;
  margin-right: 4px;
}
.wallet__link {
  z-index: 1;
}
.border-gradient {
  position: absolute;
  width: 136px;
  height: 37px;
  right: 1px;
  top: -3px;
  background-image: linear-gradient(90deg, #4d55e5, #3270d7, #299dca);
  border-radius: 20px;
  z-index: -1;
}

/* ==== projects ==== */
.projects {
  position: relative;
}
.projects__title {
  position: relative;
  font-weight: 700;
  font-size: 34px;
  line-height: 33px;
  padding: 58px 68px 60px;
  color: #fff;
  border-radius: 20px;
  letter-spacing: 0.4px;
  background-color: var(--accent-color);
  margin-bottom: 27px;
  background-image: linear-gradient(90deg, #4d55e5, #3270d7, #299dca);
  overflow: hidden;
}
.projects__title::after {
  content: "";
  position: absolute;
  width: 218px;
  height: 218px;
  right: 0;
  background-color: #409fd0;
  border-radius: 50%;
}
.projects__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 40px;
  position: relative;
  list-style: none;
}

.projects__inner::after {
  right: 644px;
  content: "";
  position: absolute;
  width: 570px;
  height: 570px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #2c2e55;
  top: -125px;
  z-index: -1;
}

.projects__inner::before {
  left: 621px;
  content: "";
  position: absolute;
  width: 570px;
  height: 570px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #294050;
  z-index: -1;
  top: 113px;
}

.projects__item-link {
  background-color: #fff;
  display: block;
  position: relative;
  border-radius: 20px;
  max-width: 223px;
  overflow: hidden;
}
.projects__item-img {
  position: relative;
  margin-bottom: 14px;
  max-width: 223px;
}
.projects__item-status {
  min-width: 110px;
  top: 20px;
  left: -10px;
  position: absolute;
  color: #fff;
  padding: 9px 16px;
  border-radius: 0 20px 20px 0;
}
.projects__item-status--green {
  background-color: #4b8957;
}
.projects__item-status--yellow {
  background-color: #a8922b;
}
.projects__item-status--red {
  background-color: #9f3333;
}
.project__desc {
  margin: 0 18px 17px;
}
.project__desc-name {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 6px;
}
.project__desc-amount {
  margin-bottom: 4px;
}
